/* DESKTOP -------------------------------------------------------*/
/* Min-width: 1024px */

/* ---------------------------------------------------------------
    Header
---------------------------------------------------------------- */

.header-inner {
    padding: 1.5rem 6rem;
}



/* ---------------------------------------------------------------
Page title
---------------------------------------------------------------- */

.title-inner {
    padding: 8rem 6rem 0 6rem;
}

.front-title, .title {
    font-size: 3rem;
}

.front-title {
    max-width: 55rem;
    margin: 0 0 6rem 0;
}


/* ---------------------------------------------------------------
    Page content
---------------------------------------------------------------- */

.content-inner {
    padding: 5rem 6rem;
}

/* Portfolio -----------------------------------------------------*/


/* ---------------------------------------------------------------
    Footer
---------------------------------------------------------------- */

.site-footer {
    padding: 0 6rem;
}