/* DESKTOP -------------------------------------------------------*/
/* Min-width: 1024px */

/* ---------------------------------------------------------------
    Headlines
---------------------------------------------------------------- */

h2 {
    font-size: 2.2rem;
}


/* ---------------------------------------------------------------
    Header
---------------------------------------------------------------- */

.header-inner {
    padding: 2rem 6rem;
}


/* ---------------------------------------------------------------
    Page title
---------------------------------------------------------------- */

.title-inner {
    padding: 10rem 6rem 2rem 6rem;
}

.front-title, .title {
    font-size: 3rem;
}

.front-title {
    max-width: 50rem;
}


/* ---------------------------------------------------------------
    Page content
---------------------------------------------------------------- */

.content-inner {
    padding: 5rem 6rem;
}

/* ---------------------------------------------------------------
    Footer
---------------------------------------------------------------- */

.site-footer {
    padding: 0 6rem;
}