/* MOBILE -------------------------------------------------------*/

/* ---------------------------------------------------------------
    Variables
---------------------------------------------------------------- */

:root {
    --border: 1px solid #A5A5A5;
    --image-border: 1px solid #e0e0e0;
    --primary-txt-color: #1e1e1e;
    --secondary-txt-color: #5c5c5c;
    --primary-bg-color: #FBFBFB;
    --secondary-bg-color: #1F644F;
}


/* ---------------------------------------------------------------
    Reset styling
---------------------------------------------------------------- */

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    font-size: inherit;
}


/* ---------------------------------------------------------------
    Document structure
---------------------------------------------------------------- */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
    "site-header"
    "page-title"
    "page-content"
    "site-footer";
    
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 
    Roboto, 'Open Sans',
    'Helvetica Neue', sans-serif;
    
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
}

body * {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


/* ---------------------------------------------------------------
    Menues
---------------------------------------------------------------- */

.primary-menu {
    font-size: 1.4rem;
}

.secondary-menu {
    display: flex;
    flex-direction: row;
    text-decoration: underline;
}

.secondary-menu li a::after {
    display: inline-block;
    text-decoration: none;
    margin: 0 0.5rem;
    content: "/";
}

.secondary-menu li:last-of-type a::after {
    content: none;
}

/* ---------------------------------------------------------------
    Mobile menu
---------------------------------------------------------------- */

.site-nav {
    position: absolute;
    display: none;
}


/* ---------------------------------------------------------------
    Header
---------------------------------------------------------------- */

.site-header {
    width: 100%;
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    grid-area: site-header;
}

.header-inner {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    width: fit-content;
    font-size: 1rem;
    font-family: 'Merriweather', sans-serif;
}

.header-nav {
    display: none;
}


/* Hamburger ---------------------------------------------------*/

.nav-toggle {
    position: relative;
    width: 2.8rem;
    height: calc(18px + 2px);
}

.nav-toggle span {
    position: absolute;
    width: calc(100% - 1rem);
    height: 2px;
    background-color: var(--primary-bg-color);
    transition: .2s ease-in-out;
}

.nav-toggle :nth-child(1) {
    top: 0rem;
}
.nav-toggle :nth-child(2) {
    top: 9px;
}
.nav-toggle :nth-child(3) {
    top: 18px;
}


/* ---------------------------------------------------------------
    Page title
---------------------------------------------------------------- */

.page-title {
    width: 100%;
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    font-family: 'Merriweather', sans-serif;
    grid-area: page-title;
}

.title-inner {
    width: 100%;
    max-width: 50rem;
    padding: 4rem 2rem 3rem 2rem;
}

.front-title, .title {
    position: relative;
}

.front-title::before,
.title::before {
    position: absolute;
    content: "";
    height: 0.3rem;
    bottom: -0.5em;
}

.front-title::before {
    background-color: var(--primary-bg-color);
    width: 5rem;
}

.title::before {
    background-color: var(--primary-txt-color);
    width: 5rem;
}


/* ---------------------------------------------------------------
    Page content
---------------------------------------------------------------- */

.page-content {
    width: 100%;
    grid-area: page-content;
}

.content-inner {
    width: 100%;
    padding: 3rem 2rem;
}

/* Portfolio -----------------------------------------------------*/

.filter-buttons {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.filter-buttons button {
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.project-container {
    width: 100%;
    margin: 3rem 0 0 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, margin 0.4s ease-in-out;
}

.grid-col {
    float: left;
    width: 100%;
    margin-right: 0;
}

.grid-col:last-of-type {
    margin-right: 0;
}

.project-container img {
    width: 100%;
    border: var(--image-border)
}

.project-description {
    padding: 1rem 0;
}

.project-title {
    margin: 0 0 0.25rem 0;
    font-family: 'Merriweather', sans-serif;
}

.project-links a {
    text-decoration: underline;
}

.project-links a::after {
    display: inline-block;
    text-decoration: none;
    margin: 0 0.5rem;
    content: "/";
}

.project-links a:last-of-type::after {
    content: none;
}


/* ---------------------------------------------------------------
    Footer
---------------------------------------------------------------- */

.site-footer {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: site-footer;
}

.footer-inner {
    padding: 1rem 0 2rem 0;
    width: 100%;
    border-top: var(--border);
}

/* ---------------------------------------------------------------
    Functional classes
---------------------------------------------------------------- */

.active {
    font-weight: 600;
}

.display-none {
    display: none;
}

.scroll-lock {
    overflow: hidden;
}