/* TABLET LARGE -------------------------------------------------------*/
/* Min-width: 768px */

/* ---------------------------------------------------------------
    Headlines
---------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 6rem 0 2.5rem 0;
}

h2 {
    font-size: 2rem;
}

/* ---------------------------------------------------------------
    Header
---------------------------------------------------------------- */

.header-nav {
    display: flex;
}

.header-inner {
    padding: 2rem 4rem;
}


/* Hamburger ---------------------------------------------------*/

.nav-toggle {
    display: none;
}


/* ---------------------------------------------------------------
Page title
---------------------------------------------------------------- */

.title-inner {
    padding: 7rem 4rem 2rem 4rem;
}

.front-title {
    max-width: 42rem;
}

.front-title, .title {
    font-size: 2.7rem;
}

.front-title::before,
.title::before {
    position: absolute;
    content: "";
    height: 0.5rem;
}

.title::before {
    width: 5rem;
}

.front-title::before {
    width: 10rem;
}


/* ---------------------------------------------------------------
Page content
---------------------------------------------------------------- */

.content-inner {
    padding: 5rem 4rem;
}

/* Portfolio -----------------------------------------------------*/

.grid-col {
    width: calc(50% - 1.5rem);
    margin-left: 3rem;
}

.project-title {
    font-size: 1.8rem;
}

.project-description {
    padding: 1.5rem 0;
}


/* Project page ------------------------------------------------*/

.col-2, .col-3 {
    flex-direction: row;
}

.col-2 img {
    width: calc(100% / 2 - 0.75rem);
}

.col-3 img {
    width: calc(100% / 3 - 1rem);
}


/* About me page -----------------------------------------------*/

.cv-container {
    grid-template-areas:
    "header year expand"
    "description description ."
    "expandable-content expandable-content .";

    padding: 1.5rem 0;
}

.header, .year, .expand-icon {
    margin-bottom: 0.25rem;
}


/* ---------------------------------------------------------------
    Footer
---------------------------------------------------------------- */

.site-footer {
    padding: 0 4rem;
}


/* ---------------------------------------------------------------
    Functional classes
---------------------------------------------------------------- */

.expandable-max-height {
    max-height: 8rem;
}