/* TABLET LARGE -------------------------------------------------------*/
/* Min-width: 480px */

/* ---------------------------------------------------------------
    Mobile menu
---------------------------------------------------------------- */

.nav-inner {
    padding: 9rem 3rem 6rem 3rem;
}


/* ---------------------------------------------------------------
    Header
---------------------------------------------------------------- */

.header-inner {
    padding: 2rem 3rem;
}


/* ---------------------------------------------------------------
    Page title
---------------------------------------------------------------- */

.title-inner {
    padding: 5.5rem 3rem 1rem 3rem;
}

.front-title, .title {
    font-size: 2.5rem;
}

.front-title {
    max-width: 38rem;
}


/* ---------------------------------------------------------------
    Page content
---------------------------------------------------------------- */

.content-inner {
    padding: 4rem 3rem;
}


/* Portfolio ---------------------------------------------------*/

.project-title {
    font-size: 1.6rem;
}


/* ---------------------------------------------------------------
    Footer
---------------------------------------------------------------- */

.site-footer {
    padding: 0 3rem;
}

/* ---------------------------------------------------------------
    Functional classes
---------------------------------------------------------------- */

.expandable-max-height {
    max-height: 10rem;
}